.HeroContainer {
  background-color: #171c44;
}

.Header {
  background-color: #0b4264aa;
  color: #50e6ff;
  padding: 1em;
}

.Header h1 {
  line-height: 1;
  margin: 0;
}

.Hero {
  padding-bottom: 1em;
}

.Hero main {
  max-width: 70em;
  margin: 5em auto;
}

.LeftTitle {
  border-left: 15px solid #54c6fd38;

  margin-bottom: 3em;
  padding-left: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8em;
}

.LeftTitle h1 {
  font-size: 5em;
  font-weight: 700;
  line-height: 1;

  margin: 0;
}

h1.Highlight {
  color: #50e6ff;
}

.LeftSubtitle {
  margin-bottom: 3em;
  max-width: 40em;
}

.LeftSubtitle h2 {
  color: #ffffff;
  font-size: 2em;
  font-weight: 300;

  margin: 0;
}

.LeftTags {
  display: flex;
  gap: 1em;
}

.Tag {
  background-color: #00dbff33;
  border: 1px solid #0090a722;
  border-radius: 999em;
  color: #8cd9ff;
  font-size: 1.5em;
  font-weight: 400;

  margin: 0;
  padding: 0.1em 0.6em 0.18em 0.6em;
}

.ScheduleBtn {
  background-color: transparent;
  border: 1px solid #0090a7;
  border-radius: 5px;
  box-shadow: 3px 5px 10px #0090a733;
  color: #60def2;
  font-size: 1.5em;
  font-weight: 400;
  text-decoration: none;

  transition: 100ms background-color, 100ms box-shadow;

  white-space: nowrap;
  padding: 0.5em 1em;
  display: inline-block;
}

.ScheduleBtn:hover {
  background-color: #0090a733;
  box-shadow: 0 3px 10px #0090a766;
}
