.container {
    background: linear-gradient(to top, #3fcdd5 0%, #4fe6d0 100%);
    color: #fff;
    display: flex;
    justify-content: center;
}

.title {
    text-decoration: underline rgba(0, 0, 0, 0.1);
    text-decoration-width: 2px;
}

.image {
    margin-top: 2em;
}

.websiteHeader {
    color: #444;
    text-align: center;
    text-transform: uppercase;
}

/* big screen */
@media screen and (min-width: 780px) {
    .container {
        padding-top: 4em;
        padding-bottom: 4em;
        gap: 3em;
    }

    .card {
        max-width: 30em;
    }

    .title {
        font-size: 3em;
    }

    .content {
        font-size: 1.5em;
    }
}

/* small screen */
@media screen and (max-width: 780px) {
    .container {
        flex-direction: column;
        gap: 2em;
    }
}
