.container {
    max-width: 70em;
    margin: 0 auto;
    padding: 1em;
}

.header {
    margin-bottom: 3em;
    display: flex;
    align-items: center;
    gap: 1em;
}

.headerTitle {
    margin: 0;
}

.headerSubtitle {
    color: var(--muted-1);
    margin: 0;
}
