.header {
    display: flex;
    align-items: center;
    gap: 1em;
}

.headerTitle {
    margin: 0;
}

.headerSubtitle {
    color: var(--muted-1);
}

.footer {
    color: var(--muted-1);
    display: flex;
    align-items: center;
    gap: 1em;
}

.footerLink {
    display: block;
}

.footerImage {
    display: block;
}
