.container {
  max-width: 70em;
  margin: 0 auto;
  padding: 1em;
}

.header {
  margin-bottom: 3em;
  display: flex;
  align-items: center;
  gap: 1em;
}

.headerTitle {
  font-size: 3em;
  margin: 0 0 1rem 0;
}

.headerSubtitle {
  margin: 0;
}
