.container {
    display: inline-block;
}

.loading {
    --size: 0.8em;

    border: 2px solid transparent;
    border-top-color: var(--cyan-1);
    border-radius: var(--size);

    animation: spin 1s linear infinite;

    width: var(--size);
    height: var(--size);
}

@keyframes spin {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}
