.submit {
    background-color: #fff;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    border-radius: 3px;
    font: inherit;

    padding: 0.75em;
}

.submit:disabled {
    color: var(--muted-1);
}

.submit:is(:active, :hover):not(:disabled) {
    border-color: var(--cyan-1);
}

.submit:active:not(:disabled) {
    margin-top: 1px;
    border-bottom-width: 1px;
}
