.container {
  margin-bottom: 1em;
}

.label {
  display: inline-block;
  margin-bottom: 0.5em;
}

.input {
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  border-radius: 3px;
  font: inherit;
  outline: none;
  resize: vertical;

  width: 100%;
  padding: 0.75em;
}

textarea.input {
  min-height: 6em;
}

.input:hover {
  border-color: #aaa;
}

.input:focus {
  border-color: #50c1c1;
}
