:root {
    --cyan-1: #3fcdd5;
    --muted-1: #757575;
}

* {
    box-sizing: border-box;
}

body {
    color: #333;
    font: 400 1em/1.5 'Source Sans Pro', sans-serif;
    margin: 0;
}

h1 {
    font-weight: 600;
    line-height: 1;
    margin: 0 0 0.5em;
}

p {
    margin: 0;
}

a {
    display: inline-block;
}

.no-wrap {
    white-space: nowrap;
}
